<%= render "shared/header"  %>

<div class='main'>
  <div class='title-contents'>
    産直食材の購入と農家のレシピ
  </div>
  <h2>出品者</h2>
  <%= link_to '新規登録', new_buyer_registration_path %>
</div>

<%= render "shared/footer"  %>